@font-face {
  font-family: "iconfont"; /* Project id 3323286 */
  src: url("iconfont.woff2?t=1649760976405") format("woff2"),
    url("iconfont.woff?t=1649760976405") format("woff"),
    url("iconfont.ttf?t=1649760976405") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-bold:before {
  content: "\e685";
}

.icon-github:before {
  content: "\e673";
}
